<h1>管理者のタスク一覧</h1>
    
    <%= link_to "タスク新規作成", "#", class: "btn btn-primary btn-block" %>  
　　    
<tr>名称　　　　　　　　　作成日</tr>


　<div class="main tasks-index">
   <div class="container">
     <% @tasks.each do |task| %> 
       <div class-"tasks-index-item">
        <% task.content %>
       </div>   
     <% end %>   
   </div> 
  </div>  
 