<div class="jumbotron.example1">

 <div class="main tasks-new">
  <div class="container">
   <h1 class="center" ,="" "form-heading"="" style=" width: 820px;">タスク新規作成</h1>
    <%= form_tag tasks_create_path do %>  
      <div class="form-body">
        <p class="example3">名称</p>
        <textarea name="content"></textarea>
        <p class="example3">詳細</p>
        <textarea class="example1"></textarea>
         <input type="submit" value="新規登録">      
      </div>  
     <% end %>  
  </div>
 </div>   
</div>
 