<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">利用者一覧</h1>
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-right">
          <%= link_to user.name, user_path(user.id) %>
        </div>
      </div>
    <% end %>
  </div>
</div>