<h1>管理者のタスク一覧</h1>

 
<dic class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
     <div class="posts-index-item">
       <%= post.content %>
     </div>
    <% end %>  
  </div>
</diV>  
  
  