<% provide(:title, 'All Users') %>
<h1>管理者のタスク一覧</h1>


 <input type="submit" value="タスク新規作成"> 
 <br> 
 <br>
<div class="col-md-10 col-md-offset-1"> 
 <table class="table table-condensed table-hover" id="table-users">     
    <thead>
     <tr>
       <th>名称</th>
       <th>作成日</th>
     </tr>
    </thead> 
   
   <% @posts.each do |post| %>
    <tr>
      <td>
        
         <div class="posts-index-item">
          　<%= post.content %>
       　 </div>　
           
       </td>
       <td>
               
           <div class="posts-index-item">
            <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
           </div> 
           
       </td>    
    
       <td>   
         <div class="posts-index-item">
          <%= link_to "編集", " ", class: "post_edit_button" %>
         </div> 
       </td>
       <td>
          <%= link_to "削除", " ", class: "post_delete_button" %>
       </td>    
     </tr>
    <% end %>  
   </table>
 </div> 