@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    color: inherit;
    /* background-color: #eeeeee; */
}

.jumbotron.example1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #FFF; 
}
    
.jumbotron h1, .jumbotron .h1 {
    font-size: 40px;
}

.center {
  text-align: center
}


.no1 {
  background-color: #EEEEEE;
}


#main {
  float: left;
  width: 200px;
} 

#right {
    float: right;
    width: 390px;
}

.btn-block {
    display: block;
    width: 15%;
}

.btn-secondly {
    color: #fff;
    background-color: #00cc00;
    border-color: #00cc00;
    width: 190px;
}
.container {
    padding-right: inherit;
    padding-left: inherit;
    margin-right: auto;
    margin-left: auto;
}
/* タイポグラフィ */

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

h1 {
  font-size: 3em;
  font-style: italic;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  letter-spacing: 5px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  color: #777;
}

p {
    font-size: 2.1em;
    line-height: 2.0em;
    margin: 0 0 0px;
}

p.example1 { font-size: xx-large;
             font-weight: bold;
}
p.example2 { font-size: x-large; }
p.example3 { font-size: large;
             font-weight: bold;
}
p.example4 { font-size: medium; }
p.example5 { font-size: small; }
p.example6 { font-size: x-small; }
p.example7 { font-size: xx-small; }

p.example8 { font-size: 1.5em; }
p.example9 { font-size: 80%; }

p.example10 { font-size: larger; }
p.example11 { font-size: smaller; }

/* ヘッダー */

.navbar-inverse {
  background-color: #f0f;
  border-color: #f0f;
}


.navbar-inverse .navbar-nav > li > a {
    font-weight: bold;
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #f0f;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #f0f;
}


.alert {
    padding: 30px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

#logo {
  float: inherit;
  margin-right: 10px;
  font-size: 1.7em;
  font-style: italic;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #808080;
  text-decoration: none;
}

textarea.example1 { 
width: 80%;
height: 100px;
}

textarea.example2 {
width: 80%;
height: 25px;
}




/* デバッグウインドウ */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* エラーメッセージ */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
